/* Inserta tu código aquí */

.position {
	margin-bottom: 0;
}

.navbar {
	background-color: #DA2C38;
}

.texto-amarillo {
	color: #F4F0A6;
}

.icon-bar {
	background-color: grey;
}

.fuente-merri {
	font-family: 'Merriweather', serif;
}

.fuente-open {
	font-family: 'Open Sans', sans-serif;
}

.creamy {
	background-image: url(../img/creamy.jpg);
	background-position: center center;
	height: 500px;
	background-size: cover;
}

.titulo-creamy {
	margin-top: 10%;
}


.cuadro {
	background-color: rgba(0, 0, 0, 0.4);
	height: 500px;
}

.oh, .ice, .about {
	margin-top: 5%;
}

.fondo-amarillo {
	background-color: #F4F0A6;
}

.texto-rojo {
	color: #DA2C38;
}

.fondo-rojo {
	background-color: #DA2C38;
}

.iconos {
	padding: 5%;
}

.icono-rojo {
	font-size: 100px;
	color: #DA2C38;
}

.footer {
	padding: 2%;
}